<section>
    {{{body}}}
    <div class="songs">
        {{#each songs}}
            <div class="song">
                <h2>{{title}}</h2>
                <p>{{artist}}</p>
                <p>{{album}}</p>
                <p>{{genre}}</p>
                <p>{{releaseDate}}</p>
            </div>
        {{/each}}
    </div>   
</section>