<section>
    {{{body}}}
    <div class="song-details">
        <h2>{{song.title}}</h2>
        <p>Artist:     {{song.artist}}</p>
        <p>Album Name: {{song.album}}</p>
        <p>Genre(s):   {{song.genre}}</p>
        <p>Released:   {{song.releaseDate}}</p>
        <p>Lyrics:     {{song.lyrics}}</p>
    </div>

    <div id="addReview">
        <h2>Add Review</h2>
        <div id="addReviewDetails">
            <form method="POST" action="/song/{{song.id}}" id="newReview">
                <label for="newReviewUsernameInput" id="newReviewUsernameTitle">Username:</label>
                <input type="text" id="newReviewUsernameInput" name="newReviewUsernameInput" value="{{user.username}}" readonly> <br>

                <label for="newReviewTitleInput" id="newReviewTitleLabel">Title:</label>
                <input type="text" id="newReviewTitleInput" name="newReviewTitleInput"> <br>

                <label for="newReviewRatingInput" id="newReviewRatingLabel">Rating (Optional):</label>
                <input type="number" id="newReviewRatingInput" name="newReviewRatingInput" min=1 max=5> <br>

                <label for="newReviewCommentInput" id="newReviewCommentLabel">Comment:</label>
                <input type="text" id="newReviewCommentInput" name="newReviewCommentInput"> <br>

                <button type="submit">Create Review</button>
            </form>
        </div>
        <div id="error" class="error" hidden>Error:</div>
    </div>

    <h1>Reviews</h1>
    {{#if hasSongReviews}}
        <div class="reviews">
            {{#each songReviews}}
                <div class="review">
                    <!-- put the name on the top left, the title below the name and the rating on the right of the comment-->
                    <h2>{{name}}</h2>
                    <p>{{title}}</p>
                    <p>{{rating}}</p>
                    <p>{{comment}}</p>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>None</p>
    {{/if}}
</section>